### Intellij ###
/.idea/

### VSCode ###
/.vscode

### Rust ###
/target/

### DSP and compiler outputs ###
*.o
*.d
*.eep
*.elf
*.hex
core.a

### Example tests ###
/examples/*.py.*
/tests/*.ll

### Arduino core ###
/include/extra/
